body {
    padding-top: 0;
    padding-bottom: 0;
}

.top-buffer {
    margin-top:20px;
}

span {
    width: 400px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden
}

.jumbotron {
    padding: 5em inherit;
}

.post {
   font-size: 19px;
}

.img-fluid {
    max-width: 250px;
    padding-bottom: 20px;
}

.img-box {
    background-color: white;
    max-width: 250px;
    height:100%;

}

.custom-tag {
    color: tomato;
    /* wrap button text */
   white-space:normal !important;
    word-wrap: break-word;
    border: 1px solid white;
}

.custom-cat {
    /*color: green;*/
    /*color: #228B22;*/
    color: #009900;
    /* wrap button text */
   white-space:normal !important;
    word-wrap: break-word;
    border: 1px solid white;
}

.custom-tag:hover, .custom-cat:hover {
    background-color: #D4E6F1;
}

.blog-img { 
    border-width: 1px; 
    border-color: grey; 
    border-style: solid; 
    padding: 3px; 
} 
