body {
   font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 0;
    padding-bottom: 0;
}

.top-buffer {
    margin-top:20px;
}

span {
    width: 400px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden
}

.jumbotron {
    padding: 5em inherit;
}

.post {
   font-size: 16px;
}

.img-fluid {
    max-width: 250px;
    padding-bottom: 20px;
}

.img-box {
    background-color: white;
    max-width: 250px;
    height:100%;

}

.img-thumnail {
    float: left; 
}
.img-text {
    color: red;
    float: right; 
}

.custom-tag {
    color: tomato;
    /* wrap button text */
   white-space:normal !important;
    word-wrap: break-word;
    border: 1px solid white;
}

.custom-cat {
    /*color: green;*/
    /*color: #228B22;*/
    color: #009900;
    /* wrap button text */
   white-space:normal !important;
    word-wrap: break-word;
    border: 1px solid white;
}

.custom-tag:hover, .custom-cat:hover {
    background-color: #D4E6F1;
}

.blog-img-left { 
    border-width: 1px; 
    border-color: grey; 
    border-style: solid; 
    padding: 3px; 
    margin: 5px 20px 5px 20px; 
} 

.blog-img-left { 
    border-width: 1px; 
    border-color: grey; 
    border-style: solid; 
    padding: 3px; 
    margin: 5px 20px 5px 2px; 
} 

.blog-img-right { 
    border-width: 1px; 
    border-color: grey; 
    border-style: solid; 
    padding: 3px; 
    margin: 5px 2px 5px 20px; 
} 


.side-bar {
    background-color: #f9fbfc; 
}

.post-container {
    margin: 20px 20px 0 0;  
    border: 5px solid #333;
    overflow: auto
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block
}
.post-content {
    margin-left: 210px
}
.post-title {
    font-weight: bold;
    font-size: 200%
}
