body {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 0;
    padding-bottom: 0;
    /*color: #7c7c7c;*/
    /* background-color: #ECECEA;*/
    background-color: #4b2b3e; 
}

.top-buffer {
    margin-top:20px;
}

span {
    width: 400px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden
}


.jumbotron {
    padding: 5em inherit;
}

.post {
   font-size: 16px;
}

/* navbar color and border */
.navbar {
    border-bottom: 1px solid #6e5564 !important; 
    background-color: #4b2b3e !important; 
}

/* global search box */
#search-box{
    color: lightgrey;
    background-color: #432637;
}
/* custom search box border color */
.input-group-addon {
    border: solid 1px #666666;
    border-radius: 4px;
}
.form-control {
    border: solid 1px #4b2b3e; 
}

/* custom side-bar items */ 
.custom-tag {
    color: tomato;
    /* wrap button text */
    white-space:normal !important;
    word-wrap: break-word;
    border: 1px solid white;
}
.custom-cat {
    color: #009900;
    /* wrap button text */
    white-space:normal !important;
    word-wrap: break-word;
    border: 1px solid white;
}
.custom-arch {
    font-size: 13px;
}
.custom-event {
    font-size: 13px;
}
.custom-tag:hover, .custom-cat:hover {
    background-color: #D4E6F1;
}

.blog-img-left { 
    border-width: 1px; 
    border-color: grey; 
    border-style: solid; 
    padding: 3px; 
    margin: 5px 20px 5px 2px; 
    float: left;    
} 
.blog-img-right { 
    border-width: 1px; 
    border-color: grey; 
    border-style: solid; 
    padding: 3px; 
    margin: 5px 2px 5px 20px; 
} 
.blog-img-left { 
    border-width: 1px; 
    border-color: grey; 
    border-style: solid; 
    padding: 3px; 
    margin: 5px 20px 5px 2px; 
    float: right;    
} 

div.clear-float {
    clear: left; 
    margin: 20px;
}

.side-bar {
    background-color: #f9fbfc; 
}

.post-container {
    margin: 20px 20px 0 0;  
    border: 5px solid #333;
    overflow: auto
}
.post-col {
    font-size: 14px;
    padding: 5px 40px 5px 10px;
}
.post-content {
    margin-left: 210px
}
.post-title {
    font-weight: bold;
    font-size: 200%
}

.xpost-thumb {
    float: left
}
.xpost-thumb img {
    display: block
}

.img-col {
    font-size: 14px;
    color: white;
    border: 2px solid white;
    padding: 5px 5px 5px 10px;
    background-color: #4b2b3e; 
}

.img-col:hover {
  opacity: 0.8;
}

.home-img-col {
    font-size: 14px;
    color: white;
    /* image frame */
    border: 1px solid #5d4051; 
    background-color: #4b2b3e; 
    
}

.home-img-col img {
     /* Space between cols depends on image size and col-# width. */ 
    /* center the image */ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 10px;
}

.home-img-col:hover {
  opacity: 0.8;
}

.home-img-caption {
    font-family: 'Raleway',sans-serif;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.home-img-title {
    padding-left: 10px; 
    padding-right: 10px; 

    font-size: 20px;
    text-align: center; 
}
.home-img-text {
    padding-left: 10px; 
    padding-right: 10px; 
}

.img-title {
    font-size: 20px;
    font-family: 'Raleway',sans-serif;
}

.post-page-img {
    font-size: 14px;
    color: black;
    color: white;
    min-height: 320px; /* im.height + 20px */ 
    padding: 5px 5px 5px 10px;
    background-color: #4b2b3e; 
}


/* Customize bootstrap navbar-brand */
.navbar-brand:hover {
    opacity: 0.8 !important;
}
.logo:hover {
    color: #58B8EF  !important;
    opacity: 0.8;
}

/* blend mode */
.hero-wrapper {
    position: relative;
    width: 100%; 
    height: 350px;
    padding: 20px 0px 20px 100px;
    background-color: #4b2b3e; 
}
.image-blend {
    /* width: 50%; */
    width: 85%;     /* controls proportion of faded area. */
    height: 300px;
    background-color: #4b2b3e; /* without top grey freame edge */ 
    background-color: grey;   /* with top grey frame-edge */
    /*
     -webkit-mask: linear-gradient(90deg, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 50%);
     */
     -webkit-mask: linear-gradient(-90deg, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 50%);
}


/* ATTN!! Create picture frame like effect */
.frame-effect {
    border: 1px solid lightgrey; 
    /*
    border-width: 1px; 
    border-color: lightgrey; 
    border-style: solid; 
    */
    padding: 3px; 
    margin: 5px 20px 5px 2px; 

    /* Create frame like image border */
    background-color: lightgrey; 
    padding: 1em; 
    box-shadow: inset 0 0 1em 1em lightgrey; 
}

/* ATTN!! Create picture frame like effect */

/* blend mode */
.hero-wrapper2 {
    position: relative;
    width: 100%; 
    height: 425px;
    padding: 0px 0px 20px 0px;
    background-color: #4b2b3e; 
}
.hero-row {
    border-bottom: 1px solid #6e5564 !important; 
}


/* Crop hero image */
.hero-thumbnail {
  position: relative;
  width: 1300px;
  height: 400px;
  right: 100px;
  overflow: hidden;
}
.hero-thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.hero-thumbnail img.portrait {
  width: 100%;
  height: auto;
}

#hero-text-left {
    color: red; 
}
#hero-text-right {
    color: #0099E6;
}

.blend-left {
    -webkit-mask: linear-gradient(-90deg, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 50%);

}
.blend-right {
    width: 100%; 
    -webkit-mask: linear-gradient(-90deg, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 50%);

}
.blend-img-right {
    -webkit-filter: grayscale(100%);filter: grayscale(100%);
        opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.hero-img-blend {
    -webkit-filter: grayscale(100%);filter: grayscale(100%);
        opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

/* Place text in the middle of the image */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    
    background-color: black; 
    color: white; 
    font-weight: 700;
    line-height: 1.5em;
    padding: 20px;

    opacity: 0.7;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    border-radius: 25px;
}

.gallery {
  width: 30%; /* how much % image overlapping */
  padding: 0vw;
  margin: 3%;
  border-radius: 5vw;
  display: flex;
  flex-direction: row;
  margin-left: 5%
}

/* BootsTrap carousel */
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}
.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(25%);
}
.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
}
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

/* Change slide show arrow to #ff0347 (tomato) or #00ffff (cyan), the color 
good for both dark and light background. 
/* The solution below works for bootstrap4 only. Replacing 'fff' in 
fill='$23fff' with a hex code without #. For example, fill='$2300ffff'.
*/ 
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff6347' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff6347' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.slide-img-frame {
    border-width: 1px; 
    border-color: lightgrey; 
    border-style: solid; 
    padding: 3px; 
    /*margin: 5px 20px 5px 2px;*/ 
    margin-left: 15px;

    /* Create frame like image border */
    background-color: lightgrey; 
    padding: 0.3em; 
    box-shadow: inset 0 0 0.3em 0.3em lightgrey; 
}
.slide-show {
    background-color: #4b2b3e; 
}
.slide-container {
    /* The is necessary to avoid the lapsed image effect during slide shift */
    /* background-color: #ECECEA; /* use body or whatever parent bk color */
    background-color: #4b2b3e; 
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 30px;
    height: 30px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: white; 
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}

.slide-caption {
    text-align: center; 
    color: #5F9EA0; 
    color: #1E90FF;
    font-size: 0.8em;
}
