{% extends "blog/base.html" %} 
{% load static %} 
{% load thumbnail %} 
{% load split_list %} 


{% block content %}
    <div class="hero-wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="image-blend">
                    {% thumbnail header_post.image_set.image "x300" as im %}
                    </figure><img src="{{im.url}}" height="{{im.height}}" width="{{im.width}}" class="frame-effect" />{% endthumbnail %}
                </div>
            </div>
            <div class="col-md-1"></div>
            
            <div class="col-md-4">
                <div class="image-blend">
                    {% thumbnail header_post_2.image_set.image "x300" as im %}
                    </figure><img src="{{im.url}}" height="{{im.height}}" width="{{im.width}}" class="frame-effect blend-img-right" />{% endthumbnail %}
                </div>
            </div>
        </div>
        
        <div class="hero-text">
            <h1><span id='hero-text-left'>Amazing</span><span id='hero-text-right'>Medical Stories</span></h1>
            <!--
            <p>And I'm a Photographer</p>
            <button>Hire me</button>
            -->
        </div>
    </div>



QQQQQQQQQQQQQQQQQQQQQQQQ



<div class="gallery">
    <div>
        <div class="container">
            
            {% thumbnail header_post.image_set.image "x200" as im %}
            </figure><img  src="{{im.url}}" height="{{im.height}}" width="{{im.width}}" class="header-img xblog-img-left img"
            />{% endthumbnail %}

            <div class="overlay">
                <div class="text">Hello</div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            
            {% thumbnail header_post.image_set.image "x200" as im %}
            </figure><img  src="{{im.url}}" height="{{im.height}}" width="{{im.width}}" class="header-img xblog-img-left img"
            />{% endthumbnail %}

            <div class="overlay">
                <div class="text">Hello</div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            
            {% thumbnail header_post.image_set.image "x200" as im %}
            </figure><img  src="{{im.url}}" height="{{im.height}}" width="{{im.width}}" class="header-img xblog-img-left img"
            />{% endthumbnail %}

            <div class="overlay">
                <div class="text">Hello</div>
            </div>
        </div>
    </div>
</div>



RRRRRRRRRRRRRRRRRRRRRRR




<br/>
<br/>
<br/>

<!--
<div class="fade-test">This is the div

                {% thumbnail header_post.image_set.image "x400" as im %}
                </figure><img src="{{im.url}}" height="{{im.height}}" width="{{im.width}}" class="header-img blog-img-left" />{% endthumbnail %}

    
</div>
-->


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--
                {% thumbnail header_post.image_set.image "x400" as im %}
                </figure><img src="{{im.url}}" align="left" height="{{im.height}}" width="{{im.width}}" class="header-img blog-img-left" />{% endthumbnail %}
                -->
                <p>
                    <span class="img-title">{{ header_post.title }}</span>
                </p>
            DDDD {{ header_post.text }}
            </div>
        </div>
    </div>
</div>





<div id="banner" style="overflow: hidden; ">
    <div class="image-div">
        <img src="img1.jpg">
    </div>

    <div class="image-div">
        <img src="img2.jpg">
    </div>

    <div class="image-div">
        <img src="img3.jpg">
    </div>
    <div style="clear:left;"></div>
</div>


<div class="img-container">
                {% thumbnail header_post.image_set.image "x400" as im %}
                </figure><img src="{{im.url}}" height="{{im.height}}" width="{{im.width}}" class="header-img xblog-img-left" />{% endthumbnail %}
    <!--
    <img src="/media/cache/77/04/7704597e2c2bd16f7f8bea9b19c67a40.jpg" alt="Snow" style="height:300;" class="header-img"/>
    -->
    <div class="bottom-left">Bottom Left</div>
    <div class="top-left">Top Left</div>
    <div class="top-right">Top Right</div>
    <div class="bottom-right">Bottom Right</div>
    <div class="centered hero-text">

        <!-- Hero Text 
        <h1>Amazing Medical Stories</h1>
        -->
        <h1><span class='hero-text-left'>Amazing</span><span class='hero-text-right'>Medical Stoires</span></h1>
        <p>And I'm a Photographer</p>
        <button>Hire me</button>
    </div>
</div>


<!-- 
QQQQQ<img src="/media/images/blog/bird_mGltKEf.jpeg" alt="bird" class="header-img"/>FFFF
-->



<div class="container">

    <div class="row top-buffer">
        <div class="col-sm-9 col-md-9 col-lg-9">


            <!-- Display 3 image per row using 'columns' filter -->
            {% for row in feature_posts|columns:3 %}
                <div class="row row-no-padding">
                    {% for post in row %}
                        <div class="col-sm-6 col-md-4 col-lg-4 img-col">
                            <!-- Image: size determins spacing between columns. -->
                            {% thumbnail post.image_set.image "210x210" crop="center" as im %}
                            </figure><img src="{{im.url}}" align="left" height="{{im.height}}" width="{{im.width}}" class="blog-img-left" />{% endthumbnail %}
                            <p>
                                <span class="img-title">{{ post.title }}</span>
                            </p>
                            <p>
                                {{ post.text|truncatewords:25 }}
                                <a href="{{ post.url }}" class="btn btn-default btn-sm">More ...</a>
                               
                                MMMM
                                {{ post.event_date }}
                                FFFF

                            </p>



                            <!--
                            <img src="{{post.image_set.image.url}}" height="220px" width="220px" class="xblog-img-left"/>
                            -->
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <!-- Sidebar col-md-3 -->
        {% include "includes/sidebar.html" %}
    </div>
</div>

{% endblock %}