{% extends "blog/base.html" %} 
{% load static %} 
{% load thumbnail %} 

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <!-- Top empty space -->
            </br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 post-col">
            <!-- 
            <p>Contributed by: {{ post.author }}</p>
            -->
            <div class="post-title">
                <p>{{ post.title }}</p>
            </div>
            <div class="post-text">
                <p align="justify">{{ post.text }}</p>
            </div>

            
            <div class="post-page-img">
                {% thumbnail image_obj.image "x300" as im %}
        
                        <!-- Image: Fixed height; Wrap text around with align left. 
                        {% thumbnail image_obj.image "x300" as im %} 
                            <img src="{{ im.url }}" align="left" width="{{ im.width }}" height="{{ im.height }}" class='blog-img-left'> 
                        {%endthumbnail%} 
                        -->
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='post-img-left'> 
                        <div class="caption">
                            <!-- ATTN! text justify on both right and left -->
                            <p align="justify">
                                {{ image_obj.description}}
                            </p>
                        </div>
                {%endthumbnail%} 
            </div>
            <!-- clear float to make text of next image in right place. -->
            <div class='clear-float'></div>


            {% if image_obj.img2 %}
                <div class="post-page-img">
                    {% thumbnail image_obj.img2 "x300" as im %} 
                    <!-- Wrap text around with align right with HTML or in CSS. 
                        <img src="{{ im.url }}" align="right" width="{{ im.width }}" height="{{ im.height }}" class='blog-img-right'> 
                    -->
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='post-img-right'> 
                    {%endthumbnail%} 

                    <div class="caption">
                        <!-- ATTN! text justify on both right and left -->
                        <p align="justify">
                            {{ image_obj.img2_description}}
                        </p>
                    </div>
                </div>
                <div class='clear-float'></div>
            {% endif %}

            {% if image_obj.img3 %}
                <div class="post-page-img">
                    {% thumbnail image_obj.img3 "x300" as im %} 
                    <!-- Wrap text around with align right with HTML or in CSS. 
                        <img src="{{ im.url }}" align="right" width="{{ im.width }}" height="{{ im.height }}" class='blog-img-right'> 
                    -->
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='post-img-right'> 
                    {%endthumbnail%} 
                    <div class="caption">
                        <!-- ATTN! text justify on both right and left -->
                        <p align="justify">
                            {{ image_obj.img3_description}}
                        </p>
                    </div>
                </div>
                <div class='clear-float'></div>
            {% endif %}

            {% if image_obj.img4 %}
                <div class="post-page-img">
                    {% thumbnail image_obj.img4 "x300" as im %} 
                    <!-- Wrap text around with align right with HTML or in CSS. 
                        <img src="{{ im.url }}" align="right" width="{{ im.width }}" height="{{ im.height }}" class='blog-img-right'> 
                    -->
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='post-img-right'> 
                    {%endthumbnail%} 

                    <div class="caption">
                        <!-- ATTN! text justify on both right and left -->
                        <p align="justify">
                            {{ image_obj.img4_description}}
                        </p>
                    </div>
                </div>
                <div class='clear-float'></div>
            {% endif %}


        <div>
            <p>
                AAAA333
                Keywords: {{ post.keywords }}
            </p>

            <p style="font-size: 14px;">
                Tags: {% for tag in post.tags.all %}
                <a href="{% url 'post_by_tag' tag.slug %}">{{ tag.name }}</a>
                {% if not forloop.last %}, {% endif %} {% endfor %}
            </p>
            
            <!--
            <h4>Comment:</h4>
            <form method="POST" action="">{% csrf_token %}
                <textarea name="comment" cols="50" rows="3" autocomplete="off"></textarea><br>
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
            -->
        </div>
        </div>

        <!-- ### Sidebar ### -->
        {% include "includes/sidebar.html" %}
    </div>
</div>

    <!-- Sidebar col-md-3 -->
    {% include "includes/footer.html" %}

{% endblock %}